<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LMS_Frame</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- FrontController 등록 -->
  <servlet>
  	<servlet-name>FrontController</servlet-name>
  	<servlet-class>controller.FrontController</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- FrontController 명령어 패턴 설정 -->
  <servlet-mapping>
  	<servlet-name>FrontController</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <!-- DBCPInit 등록 -->
  <servlet>
	  <servlet-name>DBCPInit</servlet-name>
	  <servlet-class>dbcp.DBCPInit</servlet-class>
	  <load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- 캐릭터 인코딩 필터 설정 -->
  <!-- FrontController에서 response.setCharacterEncoding() 을 매번 실행하지 않기 위해 
 		서블릿 필터를 이용해 처리합니다. -->
  <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  	<init-param>
  		<param-name>forceEncoding</param-name>
  		<param-value>true</param-value>
  	</init-param>
  </filter>
  <!-- 매핑을 통해 filter 서블릿을 적용할 경로를 설정합니다. -->
  <filter-mapping>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
  <!-- 로그인 필터 설정 -->
<filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>filter.LoginFilter</filter-class>
  </filter>
  <!-- 매핑을 통해 filter 서블릿을 적용할 경로를 설정합니다. -->
 <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/login.do</url-pattern>  <!-- 박혜미 추가부분 200724 -->
 </filter-mapping>
  
  
  
  
  
  
  
</web-app>

